<div class="game-details-wrapper">
    <div class="game-details-container">
        <div class="game-image">
            <img src="{{game.imageUrl}}" alt="Game Image">
        </div>
        <div class="game-details">
            <h2 class="game-title">{{game.title}}</h2>
            <p class="game-price">${{game.price}}</p>
            <div class="additional-details">
                <p><strong>Genre:</strong> {{game.genre}}</p>
                <p><strong>Game Mode:</strong> {{game.gamemode}}</p>
                <p><strong>Year of release:</strong> {{game.year}}</p>
                <p><strong>Programmer:</strong> {{game.programmer}}</p>
                <p><strong>Description:</strong> {{game.description}}</p>
            </div>
            <div class="buttons" *ngIf="isOwner(game)">
                <a routerLink="/all-games/{{game._id}}/edit" class="edit-btn">Edit</a>
                <button class="delete-btn" (click)="deleteGame()">Delete</button>
            </div>
        </div>
    </div>
</div>