<div class="main-content">
    <div class="welcome-box">
        <h2>Welcome to Game Hive</h2>
        <p>Discuss your favorite games with other gamers or add your own!</p>
        <a routerLink="/all-games" class="button">View Games</a>
    </div>
    <div class="image-box">
        <img src="../assets/pic.png" alt="Games Image">
    </div>
</div>

<div>
    <h3>Latest Games</h3>
    <div class="game-container" *ngIf="games.length > 0">
        <div class="game-card" *ngFor="let game of games">
            <div class="game-image">
                <img src="{{game.imageUrl}}" alt="Game Image">
            </div>
            <div class="game-details">
                <h3 class="game-title">{{game.title}}</h3>
                <p class="game-price">${{game.price}}</p>
                <a routerLink="/all-games/{{game._id}}" class="btn">View Details</a>
            </div>
        </div>
    </div>

    <div class="no-games-found-container" *ngIf="!games.length">
        <div class="no-games-found">
            No games found...
        </div>
    </div>

</div>