.home-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 2em;
}

.wrapper {
    width: 1000px;
    border: 1px solid lightsalmon;
    padding: 4em;
    display: flex;
    justify-content: space-between;
}