<header>
    <div class="navbar">
        <div class="navbar-brand">Game Hive</div>
        <div class="navbar-links">
            <a routerLink="/">Home</a>
            <a routerLink="/all-games">Games</a>
            <a routerLink="/add-game" *ngIf="isLoggedIn">Add Game</a>
        </div>
        <div class="navbar-auth-links" *ngIf="!isLoggedIn">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
        <div class="navbar-auth-links" *ngIf="isLoggedIn">
            <a routerLink="/my-profile">My Profile</a>
            <a routerLink="/logout" (click)="logout()">Logout</a>
        </div>
    </div>
</header>