<header>
    <div class="navbar-wrap">
        <div class="logo">
            <p>Game Hive</p>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/all-games">Games</a>
                </li>
                <li>
                    <a routerLink="/add-game">Add Game</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/register">Register</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>