<header>
    <div class="navbar-wrap">
        <div class="logo">
            <p>Game Hive</p>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Games</a>
                </li>
                <li>
                    <a href="">Add Game</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="">Register</a>
            </li>
            <li>
                <a href="">Login</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>